.design {
  padding: 100px 10%;
 background: linear-gradient(
    135deg,
    #000814,
    #001233,
    #000814,
    #001845
  );
  text-align: center;
}

.design h2 {
  font-size: 42px;
  color: #38bdf8;
  margin-bottom: 50px;
}

.design-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.design-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.4s;
}

.design-card:hover {
  transform: translateY(-10px);
}

.design-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.design-card h3 {
  padding: 20px;
  color: #333;
}